<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        enforceTimeLimit="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="phpBootstrap">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
